MYSQL_USER=user_mysql
MYSQL_PASSWORD=password_mysql
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_DBNAME=db_name

EXCEL_PATH=excel_path
EXCEL_SHEET_NAME=excel_name

DATAMART_HOST=datamart_host
DATAMART_USER=datamart_user
DATAMART_PASSWORD=datamart_password
DATAMART_PORT=5432
DATAMART_DATABASE=prueba